@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
p{
  font-size: 1em;
  line-height: 1.5em;
}
figcaption{
  font-size: 0.75em;
  font-weight: normal;
  font-family: 'Elsie Swash Caps', cursive;
  line-height: 1.5em;
  text-align: right;
  color: #777;
}
.milk-text{
  font-weight: bold;
  font-size: 2.6em;
  font-family: "Else Swash Caps",cursive;
}